.word-master-container h1{
    font-size: 40px;
    color: rgb(58, 58, 78);
    font-family:sans-serif;
    font-weight: bolder;
    text-align: center;
}

.wordsContent{
    border: 2px solid rgb(93, 93, 126);
    border-radius: 7px;
    width: 50%;
    height: 400px;
    margin-left: 60px;
    padding: auto;
    margin-top: 10px;
    color: black;
    font-size: 18px;
    padding: 15px;
    resize: none;
}

span{
    font-size: 22px;
    color: rgb(62, 76, 112);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.wordsCounter,
.charactersCounter,
.sentencesCounter,
.paragraphsCounter{
    width: 90px;
    height: 90px;
    background-color: rgb(205, 200, 231);
    padding: 30px;
    font-size: 40px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(92, 88, 102, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.counters{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 65%;
    margin-right: 80px;
    margin-top: -400px;
    gap: 50px;
            
}

.clear-btn{
    padding: 15px 48px;
    margin: 32px;
    margin-top: 35px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    background: rgb(155, 150, 177);
    color: #edeff3;
    border: blue;
    border-radius: 8px;
    box-shadow: 0 15px 30px rgba(92, 88, 102, 0.2);
}


.clear-btn:hover{
    background: rgb(245, 61, 48);
    color: white;
}

.buttons{
    margin-left: 2%;
    margin-top: 35px;
}



