.word-master-container h1{
    font-size: 40px;
    color: rgb(58, 58, 78);
    font-family:sans-serif;
    font-weight: bolder;
    text-align: center;
}

.wordsContent{
    border: 2px solid rgb(93, 93, 126);
    border-radius: 7px;
    width: 50%;
    height: 400px;
    margin-left: 60px;
    padding: auto;
    margin-top: 20px;
}



